
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
    - name: build
      run: |
        echo "Building project..."
        mkdir build && cd build
        cmake ..
        make
    - name: test
      run: |
        cd build/bin
        ./tests
